<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">Home</a>
    <div class="mx-auto order-0">
      <div class="row">
        <div class="col">
          <form class="form-inline my-2 my-lg-0" (submit)="onSearch($event)">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Books" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
          </form>
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="onSearch($event)">Search</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
