.navbar-brand {
  margin-right: 2rem;
}

@media (min-width: 992px) {
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (min-width: 120px) and (max-width: 420px) {
  .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
  }
}
