.card-wrapper {
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.card-body {
  flex: 1;
  overflow: hidden; 
}

.card-text{
  margin-bottom: 3rem;
}

.btn-details {
  position: absolute;
  bottom: 10px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 calc(50% - 20px); 
    max-width: calc(50% - 20px);
    margin-right: 20px; 
  }
}
