.card1{
  height:auto;
}
.responsive-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .card-img-top {
    max-width: 35%; 
    height: auto;
  }
  .img-wrapper{
    align-items: center;
    border: 0;
    margin-bottom: 20px;
  }

}
