<div class="row">
  <div class="col-md-6" *ngFor="let book of books">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="img-fluid rounded-start" alt="Book Cover">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
            <p class="card-text">{{ truncateDescription(book.volumeInfo.description) }}</p>
            <p class="card-text"><small class="text-muted">{{ book.volumeInfo.authors.join(', ') }}</small></p>
          </div>
          <button type="button" class="btn btn-primary btn-details">Book Details</button> 
        </div>
      </div>
    </div>
  </div>
</div>
